/*@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,300&display=swap");*/
/*@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");*/
/*@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');*/

/*:root {*/
/*  --orange: #f6b124;*/
/*  --green: #1f938a;*/
/*  --bgGreen: #042826;*/
/*  --lightGreen: #19d6c7;*/
/*  --orgRed: #fe6150;*/
/*  --gbGreen: #1b5b63;*/
/*  --linear: #fcb34c;*/
/*  --whiteBg: #ebeae4;*/
/*  --white: #fff;*/
/*  --black: #000;*/
/*  --baseColor: #fcfaec;*/
/*    --paragraph: #6b6b6b;*/
/*  --fontfam: "Open Sans", sans-serif;*/
/*  --fonth2: 'Work Sans', sans-serif;*/
/*}*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--fontfam);
  list-style: none;
  text-decoration: none;
}

h2{
    text-transform: capitalize;
    font-family: var(--fonth2) !important;
    color: var(--colorH);
}


.introBox {
    background: var(--baseWhy);
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    align-items: center;
}

.leftIntro {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.leftIntro .arrow {
    margin-right: 30px;
}

.context {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


.leftIntro .context h1 {
    font-family: var(--fontfam);
    font-size: 4rem;
    color: var(--colorH);
}

.leftIntro .context .peopleBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.leftIntro .context .peopleBox p{
    color: var(--colorH);
}

.leftIntro .context .peopleBox img {
    width: 100px;
}

.rightIntro {
    box-sizing: border-box;
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.rightIntro img {
    width: 70%;
}

.searchBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: linear-gradient(#FCFAEC, #FCFAEC) padding-box,
        linear-gradient(to right, #1F938A, #FE6150) border-box;
    border-radius: 50em;
    border: 1px solid transparent;
}

.searchBox input {
    border: none;
    outline: none;
    color: var(--black);
    background: none;
    width: 200px;
}

.searchBox span:nth-child(1) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.searchBox span:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.searchBox span a {
    color: white;
    padding: 10px 20px;
    background: var(--bgGreen);
    border-radius: 50px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .introBox {
        grid-template-columns: 1fr;
        height: 100%;
    }

    .introBox .context h1 {
        font-size: 2.5rem;
    }

    .leftIntro .context .peopleBox {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px 0;
    }

    .arrow {
        display: none;
    }

    .rightIntro img {
        width: 100%;
    }
}

@media only screen and (max-width: 425px) {
    .searchBox {
        width: 100%;
    }

    .searchBox input {
        width: 100%;
    }

    .searchBox span:nth-child(2) {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    
    .searchBox span a {
        color: white;
        padding: 10px;
        background: var(--bgGreen);
        border-radius: 50px;
        cursor: pointer;
    }
}

@media only screen and (min-width: 425px) and (max-width: 768px) {
    .introBox .context h1 {
        font-size: 3rem;
    }

    .leftIntro .context .peopleBox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }
}