@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

:root {
  --orange: #f6b124;
  --green: #1f938a;
  --bgGreen: #042826;
  --lightGreen: #19d6c7;
  --orgRed: #fe6150;
  --gbGreen: #1b5b63;
  --linear: #fcb34c;
  --whiteBg: #ebeae4;
  --white: #fff;
  --black: #000;
  --baseColor: #fcfaec;
  --fontfam: "Open Sans", sans-serif;
  --fonth2: 'Work Sans', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--fontfam);
  list-style: none;
  text-decoration: none;
}

h2{
    text-transform: capitalize;
    font-family: var(--fonth2) !important;
}

.expertiseBox{
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expertiseBox .leftExpertise{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.expertiseBox .leftExpertise h1{
    font-size: 3em;
    font-weight: 500;
}

.expertiseBox .rightExpertise{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;   
    bottom: 0;
    padding: 20px;
}

.expertiseBox .rightExpertise span{
    margin-top: 180px;
}

.expertiseBox .rightExpertise span p{
    font-size: 20px;
    margin: 20px 0;
    color: #6b6b6b;
}

@media only screen and (max-width: 425px) {
    .expertiseBox{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .expertiseBox .leftExpertise{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .expertiseBox .leftExpertise img{
        transform: rotate(90deg);
        display: none;
    }

    .expertiseBox .rightExpertise{
        margin: 0;
        padding: 0;
    }

    .expertiseBox .rightExpertise span{
        margin: 20px 0;
    }

    .expertiseBox .rightExpertise span p{
        margin: 0;
        padding: 0;
    }
}