/*@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,300&display=swap");*/
/*@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");*/
/*@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');*/

/*:root {*/
/*  --orange: #f6b124;*/
/*  --green: #1f938a;*/
/*  --bgGreen: #042826;*/
/*  --lightGreen: #19d6c7;*/
/*  --orgRed: #fe6150;*/
/*  --gbGreen: #1b5b63;*/
/*  --linear: #fcb34c;*/
/*  --whiteBg: #ebeae4;*/
/*  --white: #fff;*/
/*  --black: #000;*/
/*  --baseColor: #fcfaec;*/
/*  --fontfam: "Open Sans", sans-serif;*/
/*  --fonth2: 'Work Sans', sans-serif;*/
/*}*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--fontfam);
  list-style: none;
  text-decoration: none;
}

h2{
    text-transform: capitalize;
    font-family: var(--fonth2) !important;
}

.offers {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
  background: var(--black);
  position: relative;
  overflow: hidden;
}

.offerGrid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}

.offerGrid .lineImg {
  position: absolute;
}

.offerGrid label span h2 {
  color: var(--bgGreen);
  padding-bottom: 10px;
  font-weight: 400;
}

.offerGrid label span p {
  color: var(--0ffer);
  line-height: 25px;
  font-size: 15px;
}

.offerGrid label {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
}

.offerGrid label:nth-child(1) span h2,
.offerGrid label:nth-child(4) span h2 {
  color: var(--green);
}

.offerGrid label:nth-child(2) span h2 {
  color: var(--paragraphLight);
}

.offerGrid label:nth-child(3) span h2 {
  color: var(--orange);
}

.offerGrid label:nth-child(5) span h2 {
  color: var(--orgRed);
}

.offerGrid label:nth-child(2) {
  margin-top: 100px;
}

.offerGrid label:nth-child(4) {
  margin-top: 100px;
}

.effectOne,
.effectTwo{
    width: 200px;
    height: 200px;
    padding: 200px;
    position: absolute;
    overflow: hidden;
}

.offers .effectOne{
    background: #0428263f;
    top: 0;
    left: 20px;
    border-radius: 50%;
}

.offers .effectTwo{
    background: #fe61500e;
    bottom: 0;
    right: 20px;
}

@media only screen and (max-width: 425px) {
  .offers {
    height: 100%;
    padding: 30px 20px;
  }

  .offerGrid {
    grid-template-columns: 1fr;
    justify-content: start;
    align-items: start;
  }

  .offerGrid label {
    gap: 20px;
    margin-top: 50px;
  }

  .offerGrid label .offerImg {
    width: 30%;
  }

  .offerGrid label:nth-child(2) {
    margin-top: 50px;
  }

  .offerGrid label:nth-child(4) {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .offers {
    height: 100%;
    padding: 30px 20px;
  }

  .offerGrid {
    grid-template-columns: 1fr;
    justify-content: start;
    align-items: start;
  }

  .offerGrid label {
    gap: 20px;
    margin-top: 50px;
  }

  .offerGrid label:nth-child(2) {
    margin-top: 50px;
  }

  .offerGrid label:nth-child(4) {
    margin-top: 50px;
  }

  .offers .effectOne{
    background: #f6b0240e;
    top: 0;
    left: 20px;
    border-radius: 50%;
}

.offers .effectTwo{
    background: #0428263f;
    border-radius: 50%;
    bottom: 0;
    right: 20px;
}

}


@media only screen and (max-width: 1440px) {
    .offers {
      height: 100%;
      padding: 30px 20px;
    }
  
  }