.scrollbtn{
    position: fixed; 
    right: 20px;
    bottom: 40px;
    font-size: 3rem;
    z-index: 1;
    cursor: pointer;
    color: #042826;
    padding: 5px;
    background: var(--white);
    border: none;
}

.scrollbtn:hover{
    background: var(--paragraph);
}

/*:root {*/
/*    --orange: #f6b124;*/
/*    --green: #1f938a;*/
/*    --bgGreen: #042826;*/
/*    --lightGreen: #19d6c7;*/
/*    --orgRed: #fe6150;*/
/*    --gbGreen: #1b5b63;*/
/*    --linear: #fcb34c;*/
/*    --whiteBg: #ebeae4;*/
/*    --white: #fff;*/
/*    --black: #000;*/
/*    --baseColor: #fcfaec;*/
/*    --fontfam: "Open Sans", sans-serif;*/
/*}*/