@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --orange: #F6B124;
    --green: #1F938A;
    --bgGreen: #042826;
    --lightGreen: #19D6C7;
    --orgRed: #FE6150;
    --gbGreen: #1B5B63;
    --linear: #FCB34C;
    --whiteBg: #ebeae4;
    --white: #fff;
    --black: #000;
    --fontfam: 'Open Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fontfam);
    list-style: none;
    text-decoration: none;
}

.partnersBox {
    width: 100%;
    height: 50vh;
    padding: 20px;
    background: var(--bgGreen);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partnersBox h1 {
    color: var(--lightGreen);
    font-size: 2rem;
    font-weight: 500;
}

.partnersBox p {
    color: rgb(189, 187, 187);
}

.partnersBox span {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.partnersBox span img {
    width: 50%;
}

@media only screen and (max-width: 375px) {
    .partnersBox span {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
    }

    .partnersBox{
        height: 100%;
    }

    .partnersBox label{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
    .partnersBox span {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
    }

    .partnersBox{
        height: 100%;
    }

    .partnersBox label{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    .partnersBox span {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        align-items: center;
    }

    .partnersBox{
        height: 100%;
    }

    .partnersBox label{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media only screen and (min-width: 769px) {
    .partnersBox label{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}