@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

:root {
  --orange: #f6b124;
  --green: #1f938a;
  --bgGreen: #042826;
  --lightGreen: #19d6c7;
  --orgRed: #fe6150;
  --gbGreen: #1b5b63;
  --linear: #fcb34c;
  --whiteBg: #ebeae4;
  --white: #fff;
  --black: #000;
  --baseColor: #fcfaec;
  --fontfam: "Open Sans", sans-serif;
  --fonth2: "Work Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--fontfam);
  list-style: none;
  text-decoration: none;
}

h2 {
  text-transform: capitalize;
  font-family: var(--fonth2) !important;
}

.footer {
  padding: 40px 20px 20px;
  width: 100%;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .footerGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  align-items: center;
}

.footer .footerGrid span h3 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "Shantell Sans", cursive;
  color: #fff;
}

.footerText p {
  color: #afafad;
  font-size: 15px;
  line-height: 25px;
}

.footerLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.footerLinks a img {
  width: 30px;
}

.footerCopywrite {
  text-align: center;
  margin-top: 50px;
}
.footerCopywrite p {
  color: #686868;
  font-size: 13px;
}


@media only screen and (max-width: 768px) {
    .footer .footerGrid {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: start;
        align-items: start;
      }

      .footer .footerGrid span h3 {
        margin-bottom: 30px;
      }

      .footerLinks {
        margin: 30px 0;
      }
}